<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHWGfX9iNH85SgiHy_XSGp_QI8K2QUTpo</string>
	<key>GCM_SENDER_ID</key>
	<string>958789441879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ryali.Kalvium</string>
	<key>PROJECT_ID</key>
	<string>kalvium-f62da</string>
	<key>STORAGE_BUCKET</key>
	<string>kalvium-f62da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958789441879:ios:98f546c83716fa1de50612</string>
</dict>
</plist>